<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RutaControlador</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.RutaControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Conexion</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.Conexion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrupoControlador</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.GrupoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TorneoControlador</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.TorneoControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioControlador</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.CalendarioControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PatrocinadorControlador</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.PatrocinadorControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RolControlador</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.RolControlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LugarControlador</servlet-name>
        <servlet-class>com.ciclovia.bicicaribe_v2.controladores.LugarControlador</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RutaControlador</servlet-name>
        <url-pattern>/RutaControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Conexion</servlet-name>
        <url-pattern>/Conexion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrupoControlador</servlet-name>
        <url-pattern>/GrupoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TorneoControlador</servlet-name>
        <url-pattern>/TorneoControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioControlador</servlet-name>
        <url-pattern>/CalendarioControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PatrocinadorControlador</servlet-name>
        <url-pattern>/PatrocinadorControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RolControlador</servlet-name>
        <url-pattern>/RolControlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LugarControlador</servlet-name>
        <url-pattern>/LugarControlador</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
